// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }

        h1 {
            font-size: 36px;
            font-weight: 300;
            text-transform: uppercase;
            font-family: "Oswald","Helvetica Neue",Verdana,Arial,sans-serif;
            font-style: normal;
            line-height: 1.2;
            text-rendering: optimizeLegibility;
        }

        .cart.table-wrapper .product-item-name a {
            color: #263746;
            font-family: "Oswald","Helvetica Neue",Verdana,Arial,sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 1em;
            text-decoration: none;
        }

        button {
            color: #fff;
            background-color: #67c9bb;
            font-family: Georgia,Times,"Times New Roman",serif;
            font-size: 18px;
            height: 28px;
            line-height: 26px;
            text-align: center;
            font-style: italic;
            padding: 0 1em;
            border-radius: unset;
            box-shadow: none;
            font-weight: normal;
            border: 1px solid #67c9bb;
            &:after {
                content: " \00bb";
            }
        }

        #shopping-cart-table {
            border-bottom: 1px solid #9f9f9f;
        }
    }

    //  Summary block
    .cart-summary {
        margin-top: 10px;
        &:extend(.abs-add-box-sizing all);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .subtotal {
            height: 40px;
            padding-bottom: 30px;
            margin-bottom: 15px;
            border-bottom: 1px solid #9f9f9f;
            .label {
                float: left;
                text-align: left;
                font-size: 18px;
                color: #222;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: normal;
                margin-top: 10px;
            }
            .cart-price {
                float: right;
                color: #222;
                font-family: Georgia, Times, "Times New Roman", serif;
                font-size: 30px;
                font-style: italic;
                text-align: right;
                font-weight: normal;
                margin-right: 20px;
            }
        }

        .cart-totals {
            padding-top: 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    //margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                float: left;
                margin-right: 15px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;
                    margin-top: 11px;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }

                    > button.action.apply {
                        font-size: 14px;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: normal;
                    font-family: Helvetica,Arial,sans-serif;
                    color: #263746;
                    font-size: 14px;
                    line-height: 1.5;
                    cursor: pointer;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
                &.discount {
                    background-color: #edecea;
                    padding: 10px;
                    margin-bottom: 30px;
                    .title {
                        background-color: #edecea;
                        margin: 0;
                        background: url(https://www.oreck.co.uk/skin/frontend/oreck_rwd/default/images/cart/voucher-show.png) center right no-repeat transparent;
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    .content {
                        padding: 0;
                        .field {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .control {
                                input.input-text {
                                    height: 28px;
                                    width: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: right;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
                & > p {
                    padding: 5px 70px;
                    font-size: 10px;
                    margin: 5px 10px;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @color-blue2;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
                font-size: 18px;
                color: #222;
                font-family: Helvetica,Arial,sans-serif;
                font-weight: normal;
                strong {
                    font-weight: normal !important;
                    margin-top: 12px;
                }
            }
        }

        .discount.coupon {
            display: none;
        }

        .totals.sub, .grand.totals {
            .amount {
                span {
                    color: #222;
                    font-family: Georgia,Times,"Times New Roman",serif;
                    font-size: 30px;
                    font-style: italic;
                    text-align: right;
                    font-weight: normal;
                }
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-top: 1px solid #9f9f9f;
                        border-bottom: 1px solid #9f9f9f;
                        padding: 7px 5px;
                        font-family: Helvetica,Arial,sans-serif;
                        color: #222;
                        font-size: 14px;
                        text-transform: none;
                        font-weight: normal;
                        text-align: left;
                    }
                    tr {
                        th.col {
                            &:first-of-type {
                                //width: 580px;
                            }
                        }
                    }
                }

                tbody {
                    td {
                        border: 0;
                        padding: 20px 20px 15px 0;
                        width: 590px;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: 55px 11px @indent__s;
                    text-align: right;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: 60px 11px @indent__s;
                    text-align: left;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: -7px;
                        text-align: left;
                        width: 45px;
                    }
                    a {
                        color: #cf102d;
                        font-family: Helvetica,Arial,sans-serif;
                        font-size: 12px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }

                &.price {
                    span.price-excluding-tax .price {
                        color: #222;
                        font-family: Georgia,Times,"Times New Roman",serif;
                        font-size: 30px;
                        font-style: italic;
                        text-align: right;
                        font-weight: normal;
                    }
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    min-height: 75px;
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                    .product-image-container {
                        .product-image-wrapper {
                            img.product-image-photo {
                                border: 1px solid #e6e6e6;
                                width: 140px;
                                height: 140px;
                                margin: 0;
                            }
                        }
                    }
                }

                &-item-details {
                    padding-top: 10px;
                    text-transform: uppercase;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    //.cart.table-wrapper,
    //.order-items.table-wrapper {
    //    .col.price,
    //    .col.qty,
    //    .col.subtotal,
    //    .col.msrp {
    //        text-align: right;
    //    }
    //}
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: 10px;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        .mixin-payButtonWidgetCart() {
            display: inline;
            & > img {
                vertical-align: top;
                cursor: pointer;
                &:hover + div {
                    //display: block !important;
                }
            }
        }

        width: 940px;
        margin: auto;
        margin-top: 40px;
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                height: 30px;
                margin-bottom: 30px;
                .left {
                    float: left;

                    font-family: Helvetica,Arial,sans-serif;
                    font-size: 16px;
                    text-transform: none;
                    color: #222;
                    margin: 0;
                    line-height: 30px;
                }
                .right {
                    float: right;
                    .payButtonWidgetCart {
                        .mixin-payButtonWidgetCart;
                        margin-right: 22px;
                    }
                    a.action.continue {
                        font-family: Georgia,Times,"Times New Roman",serif;
                        font-size: 18px;
                        color: #263746;
                        background-color: #fff;
                        border: 1px solid #263746;
                        height: 28px;
                        line-height: 26px;
                        text-align: center;
                        font-style: italic;
                        padding: 2px 1em;
                        vertical-align: middle;
                        text-decoration: none;
                        margin-right: 22px;
                        &:after {
                            content: " \00bb";
                        }
                    }
                }
            }

            .cart-header {
                margin-bottom: 45px;
            }

            position: unset;
            width: auto;
            float: unset;
            padding-right: 0;
        }

        .widget {
            float: left;
        }

        .cart-summary {
            .checkout-methods-items {
                .payButtonWidgetCart {
                    .mixin-payButtonWidgetCart;
                }
                .payment-logos {
                    float: left;
                    text-align: left;
                    padding: 15px 0;
                    margin: 30px 0;
                    p {
                        font-size: 16px;
                        font-family: Helvetica,Arial,sans-serif;
                        margin: 0;
                        padding: 0;
                    }
                    img {

                    }
                }
            }
            #block-shipping {
                .items.methods {
                    margin-top: 10px;
                    margin-left: 10px;
                    .item-title {
                        float: right;
                        width: 30%;
                        font-weight: bold;
                        font-size: 18px;
                        font-family: Helvetica,Arial,sans-serif;
                        color: #263746;
                    }
                    .item-options {
                        float: left;
                        width: 60%;
                        font-family: Helvetica,Arial,sans-serif;
                        font-weight: bold;
                        font-size: 14px;
                        color: #263746;
                        label.label {
                            span.price {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .block.crosssell {
            width: 100%;
            margin: 0;
            padding: 0;
            border: 1px solid #67c9bb;
            &:before {
                content: url("https://www.oreck.co.uk/skin/frontend/oreck_rwd/default/images/cart/crosssell-arrow.png");
                position: relative;
                bottom: 16px;
                left: 60px;
            }
            .block-title.title {
                margin-bottom: 20px;
                #block-crosssell-heading {
                    cursor: unset !important;
                    margin: 0;
                    font-family: Georgia,Times,"Times New Roman",serif;
                    font-style: normal;
                    font-size: 18px;
                    color: #222;
                    font-weight: unset;
                    text-transform: none;
                    padding: 19px 19px 0;
                    font-style: italic;
                }
            }
            .block-content.content {
                .products.wrapper.grid.products-grid.products-crosssell {
                    margin-top: 0;
                    margin-bottom: 0;
                    ol.products.list.items.product-items {
                        margin-top: 0;
                        margin-bottom: 0;
                        li.item.product.product-item {
                            width: 100%;
                            margin-bottom: 10px;
                            margin-left: 20px;
                            .product-item-info {
                                width: 100%;
                                a.product-item-photo {
                                    float: left;
                                    span.product-image-container {
                                        width: 60px !important;
                                        height: 60px;
                                        img.product-image-photo {
                                            width: 60px;
                                            height: 60px;
                                            position: unset;
                                        }
                                    }
                                }
                                .product.details.product-item-details {
                                    float: left;
                                    strong, div {
                                        display: block;
                                        float: left;
                                    }
                                    strong.product.name.product-item-name {
                                        margin: 12px 0 0 20px;
                                        width: 480px;
                                        h2 {
                                            font-family: "Oswald", "Helvetica Neue", Verdana, Arial, sans-serif;
                                            font-size: 18px;
                                            font-weight: 300;
                                            color: #263746;
                                            text-rendering: optimizeLegibility;
                                            text-transform: uppercase;
                                            margin-top: 0;
                                        }
                                    }
                                    .product.actions.product-item-actions {
                                        margin-left: 20px;
                                        margin-top: 10px;
                                        .actions-primary {
                                            button.action.tocart {
                                                padding-top: 7px;
                                                height: 30px;
                                                span {
                                                    font-style: normal;
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                    .price-box.price-final_price {
                                        text-align: right;
                                        width: 215px;
                                        margin: 0;
                                        span.price {
                                            font-family: Georgia, Times, "Times New Roman", serif;
                                            font-style: italic;
                                            font-size: 30px;
                                            margin: 0;
                                            padding: 0;
                                            text-align: right;
                                            font-weight: normal;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        width: 400px;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    //.lib-form-field-type-revert(@_type: block);
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    padding-bottom: 35px;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                    padding-top: 14px;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
