<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="cart-header">
        <h1>MY BASKET</h1>
    </div>
    <div class="cart main actions">
        <div class="left">
            <span>You have </span>
            <b>
                <?php
                    echo $block->getItemsCount();
                    if ($block->getItemsCount() > 1) {
                        echo " Items";
                    } else {
                        echo " Item";
                    }
                ?>
            </b>
            <span> in your basket.</span>
        </div>
        <div class="right">
            <div class="payButtonWidgetCart">
                <img src="https://payments.amazon.co.uk/gp/widgets/button?sellerId=A2BGH7JMBU6F6U&amp;size=medium&amp;color=orange">

                <div id="amazon-pay-tooltip" class="amazon-pay-tooltip" style="position: absolute; display: none; z-index: 999;">
                    <img src="https://www.oreck.co.uk/skin/frontend/rwd/default/creativestyle/images/logo_a-glyph_1x.png" alt="Amazon Pay">
                    <strong>Amazon Pay</strong> helps you shop quickly, safely and securely. You can pay on our website without re-entering your payment and address details. All Amazon transactions are protected by Amazon's A-to-z Guarantee.
                </div>
            </div>
            <?php if ($block->getContinueShoppingUrl()): ?>
                <a class="action continue"
                   href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
                   title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                    <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
                </a>
            <?php endif; ?>
            <button onclick="location.href='<?php echo $block->getCheckoutUrl() ?>'; return false">Continue to Checkout</button>
        </div>
    </div>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th width="63%" class="col item" scope="col"></th>
                    <th width="16%" class="col qty" scope="col"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></th>
                    <th class="col price" scope="col"><span><?= /* @escapeNotVerified */ __('Price') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

<!--<script type="text/javascript">-->
<!--    var tooltip = document.querySelector('#amazon-pay-tooltip');-->
<!--    var buttons = document.querySelectorAll('.payButtonWidgetCart');-->
<!---->
<!--    buttons.forEach(function (button) {-->
<!--        button.onmouseover = function () {-->
<!--            tooltip.style.display = "block";-->
<!--        };-->
<!---->
<!--        button.onmouseleave = function () {-->
<!--            tooltip.style.display = "none";-->
<!--        };-->
<!---->
<!--        button.onmousemove = function (e) {-->
<!--            var x = (e.clientX) - 1024 + 'px',-->
<!--                y = (e.clientY) + 100 + 'px';-->
<!--            tooltip.style.top = y;-->
<!--            tooltip.style.left = x;-->
<!--        };-->
<!--    });-->
<!--</script>-->

