<?php
/** @var \Magento\Checkout\Block\Cart\Totals $block */

$subtotal = $block->getQuote()->getGrandTotal() - $block->getQuote()->getShippingAddress()->getShippingInclTax();
?>
<div class="subtotal">
    <div class="label">
        <?php echo __('Sub-total') ?>
    </div>
    <div class="cart-price">
        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($subtotal); ?>
    </div>
</div>