<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="main-content">
	<img src="<?php echo $this->getViewFileUrl('Magento_Theme::images/image-front1.jpg'); ?>"/>
	<img src="<?php echo $this->getViewFileUrl('Magento_Theme::images/image-front2.jpg'); ?>"/>
	<img src="<?php echo $this->getViewFileUrl('Magento_Theme::images/image-front3.jpg'); ?>"/>
	<hr />
</div>