<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<small class="copyright">
    <span>© Venroy 2018</span>
    <a href="javascript:void(0)">Term</a>
    <a href="javascript:void(0)">Privacy</a>
</small>
