<?php

/**
 * @var Magento\Framework\View\Element\Template $block
 */

?>

<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item hero-image-2 component txt-white" style='background-image: url("https://endotaspa.com.au/media/wysiwyg/Banners/Australian-Organics-Awareness-Month-Web-banner-03.jpg");height: 400px; background-repeat: no-repeat;background-position: center;background-size: cover;'>
        <div class="container" style="margin-left:58%; padding-top: 30px;">
            <div class="b-table white text-center t-right">
                <div class="t-cell">

                    <p class="sub-title txt-white">
                        <span>Go in the draw</span>
                    </p>


                    <h2 class=" txt-white" style="font-family: DomaineDisplay-Bold">Win the Ultimate Organics skincare box</h2>


                    <p class="">Purchase the Organics Deep Hydration Face Moisturiser to enter</p>


                    <a href="https://endotaspa.com.au/deep-hydration-face-moisturiser-60ml.html" class="btn-green-full auto btn-green-full auto white">buy now</a>

                </div>
            </div>
        </div>
    </div>
    <div class="item hero-image-2 component txt-white" style='background-image: url("https://endotaspa.com.au/media/wysiwyg/Banners/New-Age-Banner.jpg");height: 400px; background-repeat: no-repeat;background-position: center;background-size: cover;'>
        <div class="container" style="margin-left: 8%; padding-top: 150px;">
            <div class="b-table white text-center t-left">
                <div class="t-cell">


                    <div class="h1 txt-white" style="font-family: DomaineDisplay-Bold">The science of perfect skin</div>


                    <p class="">We have the clinical trials to prove it</p>


                    <a href="https://endotaspa.com.au/products/new-age-clinical-results/" class="btn-green-full auto btn-green-full auto white">learn more</a>

                </div>
            </div>
        </div>
    </div>
    <div class="item hero-image-2 component txt-white" style='background-image: url("https://endotaspa.com.au/media/wysiwyg/Banners/FA_J000590_GMF_HavenSept_web_banner_AUG18.jpg");height: 400px; background-repeat: no-repeat;background-position: center;background-size: cover;'>
        <div class="container" style="padding-top: 25px; margin-left: 5%; margin-right: 50%;">
            <div class="b-table white text-center t-left">
                <div class="t-cell">

                    <p class="sub-title txt-white">
                        <span>Join haven to receive</span>
                    </p>


                    <div class="h1 txt-white" style="font-family: DomaineDisplay-Bold">60-minute Spring Recovery massage for $99*</div>


                    <p class="">Valid Monday to Friday only</p>


                    <a href="http://cloud.e.endota.com.au/join_haven" class="btn-green-full auto btn-green-full auto white">join now</a>

                </div>
            </div>
        </div>
    </div>
    <div class="item hero-image-2 component txt-stone" style='background-image: url("https://endotaspa.com.au/media/wysiwyg/Banners/d1_590701_en01_didyouknow_1600x500_feb18.jpg");height: 400px; background-repeat: no-repeat;background-position: center;background-size: cover;'>
        <div class="container" style="margin-left: 50%; padding-top: 25px; color: #777;">
            <div class="b-table stone text-center t-right">
                <div class="t-cell">

                    <p class="sub-title txt-stone">
                        <span>online</span>
                    </p>


                    <div class="h1 txt-stone" style="font-family: DomaineDisplay-Bold">Gift Cards redeemable  online</div>


                    <p class="">to purchase your favourite products</p>


                    <a href="https://endotaspa.com.au/products/" class="btn-green-full auto btn btn-flat reversed-button">buy now</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>

    require(['jquery','owlCarousel'], function($) {
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                items: 1,
                smartSpeed: 1000,
                navSpeed: 1000,
                // autoplay: true,
                // autoplayTimeout: 6000,
                autoplayHoverPause: true,
                loop: true,
                dots: true,
                nav: true
            });

            $('.owl-carousel').on('changed.owl.carousel', function(e) {
                if (!e.namespace || e.property.name != 'position') return
                console.log(e.item.index + '/' + e.item.class);
            })
        });
    });


</script>-->