<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

?>

<div class="top-left">
	<p>$AUD</p>
	<p>
		<img src="https://cdn.shopify.com/s/files/1/2129/8823/t/1/assets/icon-phone.png" width="25px" height="25px" />
		<span>02 9368 0350</span>
	</p>
</div>