<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

?>
<div class="seperator">
    <span>|</span>
</div>
<div class="btn-login">
	<a href="/account/login/" class="login-wrapper">Login</a>
</div>
<div class="seperator">
    <span>|</span>
</div>