<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($block->isPossibleOnepageCheckout()):?>
    <div class="payButtonWidgetCart">
        <img src="https://payments.amazon.co.uk/gp/widgets/button?sellerId=A2BGH7JMBU6F6U&amp;size=medium&amp;color=orange">
    </div>
    <p>-OR-</p>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Continue to checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>"}}'
            class="checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?= /* @escapeNotVerified */ __('Continue to checkout') ?></span>
    </button>
    <div class="payment-logos">
        <p>Secure checkout with:</p>
        <img src="https://www.oreck.co.uk/skin/frontend/oreck_rwd/default/images/checkout/payment-methods.jpg">
    </div>
<?php endif?>
<script type="text/javascript">
    var tooltip = document.querySelector('#amazon-pay-tooltip');
    var buttons = document.querySelectorAll('.payButtonWidgetCart');

    buttons.forEach(function (button) {
        button.onmouseover = function () {
            tooltip.style.display = "block";
        };

        button.onmouseleave = function () {
            tooltip.style.display = "none";
        };

        button.onmousemove = function (e) {
            var x = (e.clientX) - 1024 + 'px',
                y = (e.clientY) + 100 + 'px';
            tooltip.style.top = y;
            tooltip.style.left = x;
        };
    });
</script>