<div id="caveats" class="panel">
    <div class="panel-container">
        <ul>
            <li>* in quick clean mode</li>
            <li>** Subject to availability. Vax reserves the right to substitute an alternative product of equal or greater value.</li>
        </ul>
    </div>
</div>