<div id="deep-dirt-banner" class="panel">
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/deep-dirt-mobile.jpg" alt="">
    <div class="panel-container">
        <div class="panel-title banner-text">
            <h2>Tackles Deep Down Dirt</h2>
            <p>The XL brush bar and patented SpinScrub™ technology, agitates and lifts away deep down dirt and up to 93% of bacteria from your carpet fibres.</p>
        </div>
    </div>
    <div class="banner-image desktop-image">
        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/deep-dirt.jpg" alt="">
    </div>
</div>