<div id="features" class="panel">
    <div class="jcarousel-features" data-jcarousel="true" data-jcarouselswipe="true" style="touch-action: pan-y;">
        <ul style="left: 0px; top: 0px;">
            <li class="item" style="width: 50%;">
                <img class="desktop" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature2_desktop.jpg" alt="" draggable="false" style="user-select: none;">
                <img class="mobile" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature2_tablet_x2.jpg" alt="" draggable="false" style="user-select: none;">
                <div class="feat-title">
                    <h4>Spinscrub hand tool</h4>
                    <p>The Vax Platinum has a patented SpinScrub Wash Tool. Use this on tough stains in high traffic areas or on your stairs.</p>
                </div>
            </li><li class="item" style="width: 50%;">
                <img class="desktop" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature3_desktop.jpg" alt="" draggable="false" style="user-select: none;">
                <img class="mobile" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature3_tablet_x2.jpg" alt="" draggable="false" style="user-select: none;">
                <div class="feat-title">
                    <h4>Pre-Treatment Wand</h4>
                    <p>Features a Pre-Treatment wand so you can spray a jet of concentrated cleaning solution on a tough stain before cleaning.</p>
                </div>
            </li><li class="item" style="width: 50%;">
                <img class="desktop" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature4_desktop.jpg" alt="" draggable="false" style="user-select: none;">
                <img class="mobile" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature4_tablet_x2.jpg" alt="" draggable="false" style="user-select: none;">
                <div class="feat-title">
                    <h4>Twin tanks</h4>
                    <p>Ensures the clean and dirty water is kept separate, meaning you'll only ever put clean water and solution into your carpets.</p>
                </div>
            </li><li class="item" style="width: 50%;">
                <img class="desktop" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature1_desktop.jpg" alt="" draggable="false" style="user-select: none;">
                <img class="mobile" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/feature1_tablet_x2.jpg" alt="" draggable="false" style="user-select: none;">
                <div class="feat-title">
                    <h4>Long stretch hose &amp; Tools</h4>
                    <p>With the long reach hose and SpinScrub Wash Tool, you can clean your stairs in your home with ease.</p>
                </div>
            </li></ul>
    </div>
    <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
</div>