<div id="free-steam-cleaner" class="panel">
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/free-steam-cleaner-banner-mobile.jpg" alt="">
    <div class="panel-container">
        <div class="panel-title banner-text">
            <h2>Order Now and Receive your Free Steam Cleaner</h2>
            <p>Get a <strong>FREE</strong> Vax Multifunctional steam cleaner worth £69.99 when you buy the Vax Platinum Power Max direct from us.**</p>
            <div class="actions">
                <button type="button" title="Add to Basket" class="btn btn-cart" onclick="setLocation('https://dev.vax.co.uk/checkout/cart/add/uenc/aHR0cHM6Ly9kZXYudmF4LmNvLnVrL3ZheHBsYXRpbnVt/product/11135/')">
                    <i class="icon icon-white icon-white-basket"></i>
                    Add to Basket
                </button>
            </div>
        </div>
    </div>
</div>