<div class="free-gift-container">
    <img class="desktop" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/free-gift-banner-desktop.jpg" alt="Order now and recieve a free Steam Cleaner worth £69.99">
<!--    <img class="tablet" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/free-gift-banner-tablet.jpg" alt="Order now and recieve a free Steam Cleaner worth £69.99">-->
<!--    <img class="mobile" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/free-gift-banner-mobile.jpg" alt="Order now and recieve a free Steam Cleaner worth £69.99">-->
</div>