<div id="order-today" class="panel">
    <h2 id="order-today-title" class="mobile">Order Yours Today...</h2>
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/order-today-banner-mobile.jpg" alt="">
    <div class="panel-container">
        <div class="panel-title banner-text">
            <div class="panel-col-left">
                <h2 class="tablet desktop">Order Yours Today...</h2>
                <h3>Vax Platinum Power Max Carpet Washer</h3>
                <h4>Vax's best ever carpet washer. Out cleans the leading rental.</h4>
                <ul>
                    <li>Removes 93% of bacteria</li>
                    <li>Suitable for carpets and hard floor</li>
                    <li>Dries in less than an hour*</li>
                    <li>Includes 2 x 250ml bottles of Platinum - Vax's best solution!</li>
                    <li>FREE Steamer worth £69.99**</li>
                </ul>
                <img id="order-today-features-mobile" class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/order-today-features-mobile.png" alt="">
                <div class="price-container">
                    <span class="product-price">£249.00</span>
                    <img id="easy-pay" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/easy-payments.png" alt="4 Easy Payments">
                </div>
                <div class="actions">
                    <button type="button" title="Add to Basket" class="btn btn-cart" onclick="setLocation('https://dev.vax.co.uk/checkout/cart/add/uenc/aHR0cHM6Ly9kZXYudmF4LmNvLnVrL3ZheHBsYXRpbnVt/product/11135/')">
                        <i class="icon icon-white icon-white-basket"></i>
                        Add to Basket
                    </button>
                </div>
            </div>
            <div class="panel-col-right">
                <img id="order-today-features" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/order-today-features.png" alt="1 XL Brushbar, 7 Spinscrub Brushes, Quick Dry">
            </div>
        </div>
    </div>
</div>