<div id="product-icons" class="panel">
    <div class="panel-container">
        <div class="product-icon guarantee-link">
            <span class="icon-label">6 year guarantee</span>
        </div>
        <div class="product-icon free-delivery-link">
            <span class="icon-label" data-featherlight="#free-delivery-link" data-featherlight-variant="fixWidth">Free next day delivery</span>
        </div>
        <div class="product-icon easy-pay-link">
            <span class="icon-label" data-featherlight="#easy-pay-link" data-featherlight-variant="fixWidth">Easy pay available</span>
        </div>
    </div>

    <div id="info-lightbox">
        <div id="guarantee-link" class="featherlight-product">
            <h4>Guarantee</h4>
            <p>6 year guarantee</p>
        </div>

        <div id="free-delivery-link" class="featherlight-product">
            <h4>Free delivery</h4>
            <p>All machines and solutions come with free delivery. Where Free Next Day Delivery is stated, <a href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a> apply.</p>
        </div>

        <div id="easy-pay-link" class="featherlight-product">
            <h4>Easy pay available</h4>
            <p>Payment Plan of 4 x monthly instalments of £62.25 applies to Vax Platinum Power Max Carpet Cleaner only, additional items to be paid in full at checkout.</p>
        </div>
    </div>
</div>