<?php

/**
 * @var Magento\Framework\View\Element\Template $block
 */

?>

<div class="slider-container">
    <div class="slider-main">
        <div class="jcarousel">
            <ul>
                <li>
                    <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/slides/slide1-desktop.jpg"/>
                </li>
                <li>
                    <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/slides/slide2-desktop.jpg"/>
                </li>
                <li>
                    <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/slides/slide3-desktop.jpg"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="slider-text">

    </div>
</div>

<script>
    require(['jquery','jCarousel'], function($) {
        $(function() {
            $('.jcarousel').jcarousel({
                animation: {
                    duration: 800,
                    easing:   'linear',
                    complete: function() {
                    }
                }
            });
        });
    });
</script>