<div id="specifications" class="panel">
    <div class="panel-container">
        <div class="panel-title">
            <h2 class="show-mobile">Tech Specs</h2>
            <h2 class="show-desktop">Technical Specifications</h2>
        </div>
        <div class="specs-left">
            <ul>
                <li>
                    <div class="label">Weight</div>
                    <div class="value">9.6kg</div>
                </li>
                <li>
                    <div class="label">Power</div>
                    <div class="value">1200W</div>
                </li>
                <li>
                    <div class="label">Clean Capacity</div>
                    <div class="value">3.5L</div>
                </li>
                <li>
                    <div class="label">Dirt Capacity</div>
                    <div class="value">2.9L</div>
                </li>
                <li>
                    <div class="label">Hose</div>
                    <div class="value">4.6m</div>
                </li>
                <li>
                    <div class="label">Suitable Hard Floors</div>
                    <div class="value"><span class="i-check">Yes</span></div>
                </li>
                <li>
                    <div class="label">Cleaning Reach</div>
                    <div class="value">4.6m</div>
                </li>
                <li>
                    <div class="label">On-board tools</div>
                    <div class="value"><span class="i-check">Yes</span></div>
                </li>
                <li>
                    <div class="label">Cord</div>
                    <div class="value">9m</div>
                </li>
                <li>
                    <div class="label">Dual V Technology</div>
                    <div class="value"><span class="i-check">Yes</span></div>
                </li>
                <li>
                    <div class="label">Guarantee</div>
                    <div class="value">6 years</div>
                </li>
                <li>
                    <div class="label">Part Number</div>
                    <div class="value">ECB1SPV1</div>
                </li>
            </ul>
        </div>
        <div class="specs-right">
            <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/techspecs.png" alt="Specifications">
        </div>
    </div>
</div>