<div id="spinscrub-banner" class="panel">
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/spinscrub-mobile.jpg" alt="">
    <div class="banner-image desktop-image">
        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/spinscrub.jpg" alt="">
    </div>
    <div class="panel-container">
        <div class="panel-title banner-text">
            <h2>SpinScrub Technology</h2>
            <p>The Vax Platinum has 7 patented SpinScrub bristles. These rotate in different directions to effectively lift and help remove any dirt from within your carpet.</p>
        </div>
    </div>
</div>