<div id="video-banner" class="panel watch-yt" href="https://www.youtube.com/embed/-zkJDLJGdJw?rel=0" data-featherlight="iframe">
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/video-thumbnail-mobile.jpg" alt="">
    <div class="panel-container">
        <div class="panel-title banner-text">
            <h2>See the Platinum Power Max in Action</h2>
            <p>Get carpets looking feeling and smelling like new!</p>
            <img id="tv-icon" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/as-seen-on-tv.jpg" alt="As seen on TV">
        </div>
    </div>
</div>