<div id="wash-rinse-dry" class="panel">
    <img class="mobile-image" src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/wash-rinse-dry-mobile.jpg" alt="">
    <div class="panel-container">
        <div class="panel-title banner-text">
            <h2>Wash, rinse &amp; Quick Dry</h2>
            <p>The Vax Platinum Power Max has both wash and rinse functions for a thorough carpet clean. The Dual V technology in the head of the machine powerfully extracts the water from your carpet, allowing them to dry in under an hour*.</p>
        </div>
    </div>
</div>