<div id="wib" class="panel">
    <div class="panel-container">
        <div class="panel-title">
            <h2>What's in the box</h2>
        </div>
        <div class="jcarousel jcarousel-drtv-wib" data-jcarousel="true" data-jcarouselswipe="true" style="touch-action: pan-y;">
            <ul style="left: 0px; top: 0px;"><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-Hose.png" alt="4.6m Hose" draggable="false" style="user-select: none;">
                        <span class="wib-title">4.6m Hose</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-PreTreatmentWand.png" alt="Pre-Treatment Wand" draggable="false" style="user-select: none;">
                        <span class="wib-title">Pre-Treatment Wand</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-SpinscrubTool.png" alt="SpinScrub Tool" draggable="false" style="user-select: none;">
                        <span class="wib-title">SpinScrub Tool</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-WashTool.png" alt="Wash Tool" draggable="false" style="user-select: none;">
                        <span class="wib-title">Wash Tool</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-1xPreTreatment.png" alt="1 x Pre-Treatment Solution" draggable="false" style="user-select: none;">
                        <span class="wib-title">1 x Pre-Treatment Solution</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-2xPlatinum.png" alt="2 x Platinum Solution" draggable="false" style="user-select: none;">
                        <span class="wib-title">2 x Platinum Solution</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-AccessoryBag.png" alt="Accessory Bag" draggable="false" style="user-select: none;">
                        <span class="wib-title">Accessory Bag</span>
                    </span>
                </li><li class="item" style="width: 148px;">
                    <span class="wib-image">
                        <img src="https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/wib/wib-CarpetWasher.png" alt="Platinum Carpet Washer" draggable="false" style="user-select: none;">
                        <span class="wib-title">Platinum Carpet Washer</span>
                    </span>
                </li>
            </ul>
        </div>
        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
    </div>
</div>