<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var \Magento\Catalog\Block\Product\AbstractProduct $block */ ?>

<div>
    <img src="https://endotaspa.com.au/media/wysiwyg/homepage/product_storybehindcard_214x248_colour.jpg" alt="an image" />
    <p>Some texts that mean nothing.</p>
</div>