<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var \Magento\Catalog\Block\Product\AbstractProduct $block */ ?>
<?php $_product = $block->getProduct() ?>
<?php if($_product->getData('how_to_use')): ?>
    <?php $_attribute = $_product->getResource()->getAttribute('how_to_use') ?>
    <?php
        $_value = $_product->getData('how_to_use');
        $_name = $_attribute->getFrontendLabel();
    ?>

    <div>
      <button class="attr-collapsible"><?php echo $_name ?></button>
      <div class="attr-content"><?php echo $_value ?></p>
      </div>
    </div>
<?php endif;?>

<!-- <script>
  var coll = document.getElementsByClassName("attr-collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script> -->