<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Order Summary'" class="title"></span>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>

<div>
    <img src="https://endotaspa.com.au/media/wysiwyg/homepage/product_storybehindcard_214x248_colour.jpg" alt="an image" />
    <p>Some texts that mean nothing.</p>
</div>
