// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: 20px;

        .form.subscribe {
            display: table;
            width: 100%;
            margin-left: 60px;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    position: absolute;
                    display: none;
                }

                display: block;
            }
        }

        input {
            padding-left: 0;
            width: 40%;
            float: left;
            margin-right: 10px;
            font-family: arial1;
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
            float: left;
        }

        .action.subscribe {
            white-space: nowrap;
            background: white;
            color: black;
            border: 1px solid;
            border-radius: 0;
            width: 150px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
            font-family: arial1;

            &:hover {
                background: black;
                color: white;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 34%;
    }
}
