
<div class="links-sections">
    <p class="header-section-title"><a href="#features">Features &amp; Benefits</a>
    <p class="header-section-title"><a href="#wib">What's In The Box</a>
    <p class="header-section-title"><a href="#specifications">Tech Specs</a>
</div>