//cms style

img {
  max-width: 100%;
  display: block;

  &.mobile-image {
    display: none;
  }
}

.panel-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  .panel-title {
    &.banner-text {
      width: 40%;
      margin-top: 12%;
      position: absolute;

      h2 {
        padding: 0;
      }
    }

    h2 {
      padding-top: 60px;
      font-size: 25px;
      margin-bottom: 25px;
      font-weight: 700;
      letter-spacing: 2px;
      color: #1c1d21;
      text-transform: uppercase;
    }

    p {
      line-height: 1.8em;
      font-size: 16px;
    }
  }
}

.panel {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .banner-image {
    width: 50%;
  }
}

.column.main {

  #video-banner {
    background-image: url(https://dev.vax.co.uk/skin/frontend/vax_rwd/uk_drtv_platinum/images/landingpage/video-thumbnail.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 450px;

    .panel-container {

      h2 {
        color: #1b1d20;
        margin-top: 0;
      }

      p {
        width: 75%;
        color: #1b1d20;
        line-height: 1.8em;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }

      #tv-icon {
        margin-top: 30px;
        height: 40px;
        max-width: 100%;
      }
    }
  }

  #deep-dirt-banner {
    background: #1c1d21;

    .banner-image {
      float: right;
    }

    .panel-container {
      .banner-text {
        h2 {
          color: #f58426;
        }
        p {
          color: #d8d9da;
        }
      }
    }
  }

  #spinscrub-banner {
    background: #1f2437;
    .banner-image {
      float: left;
    }
    .panel-container {
      .banner-text {
        right: 0;
        margin-right: 30px;
        h2 {
          color: #f58426;
        }
        p {
          color: #d8d9da;
        }
      }
    }
  }
}